body{
  background-color:lightsteelblue; /*darkturquoise;*/
  color: darkslategrey;
}
#myHeader{
  position: sticky;
  top: 0;
}

#myHeader>ul{
    list-style-type: none;
    float: left;

  }
  
  article{
    clear: both;
  }

  article>div>h1{
    text-align: center;
  }
  
  .bsc_1, .bsc_2, .bsc_3, .msc_1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    column-gap: 10px;
    row-gap: 1em;
  }
  .obavezniPredmet, .gridNaslov {
    border-radius: 10px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
  }
  .izborniPredmet{
    border-radius: 10px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    background-color: powderblue;
  }

  .nijeNaOvojGodini{
    border-radius: 10px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    background-color: gray;
    
  }

  .gridNaslov{
    grid-column-start: 1;
    grid-column-end: 4;
  }

