h1{
    font-size: 30pt;
    font-weight: bold;
    text-align: center;
}

p{
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#overflow{
    overflow-x: auto;
    display: flex;
}

h2, h3{
    font-size: 20pt;
    text-align: center;

}

td, th {
    
    border-style: solid;
    min-width: 2%;
}

table{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
th{
    height: 3%;
    width: 1%;
    padding: 10px;
    vertical-align: top;
    text-align: left;
    font-size: 15pt;

}
tr{
    
    vertical-align: top;
    text-align: left;
    height: 2cm;
}

td{
    padding: 10px;
}

.vertikalno{
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.crvena{
    background-color: red;
}

.zelena{
    background-color: green;
}

.bijela{
    background-color: white;
}

.prazna{
    border-bottom: 2px solid black;
    border-right: 0;
    border-top: 0;
    border-left: 0;
}

.zadnja{
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-top: 0;
    border-left: 0;
}
